<!-- <app-navbar></app-navbar> -->
<div id="conatiner">
    <mat-card>
        <mat-card-content>
            <mat-card-title>ลายละเอียดครุภัณฑ์</mat-card-title>
            <mat-card-subtitle>ระบบจัดการครุภัณฑ์ และ การแจ้งซ่อม สาขาวิทยาการคอมพิวเตอร์</mat-card-subtitle>
            <hr>
            <br>
        </mat-card-content>
        <div class="row">
            <div class="col-sm-6">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>รหัสครุภัณฑ์*</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            placeholder="ex.116309050001"
                            value="CS0001"
                            disabled="disabled"
                        >
                    </mat-form-field>
                </mat-card-content>
            </div>
            
            <div class="col-sm-6">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>ชื่อครุภัณฑ์</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            placeholder="ex.116309050001"
                            value="คอมพิวเตอร์ (PC)"
                        >
                    </mat-form-field>
                </mat-card-content>
            </div>

            <div class="col-sm-6">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>หมวดหมู่ครุภัณฑ์</mat-label>
                        <input 
                            type="text" 
                            matInput
                            value="สำนักงาน"
                        >
                    </mat-form-field>
                </mat-card-content>
            </div>
            
            
            <div class="col-sm-6">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>ประเภทครุภัณฑ์</mat-label>
                        <input 
                        type="text" 
                        matInput
                        value="คอมพิวเตอร์ตั้งโต๊ะ"
                        >
                    </mat-form-field>
                </mat-card-content>
            </div>
            
            <div class="col-sm-6">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>สถานที่ตั้ง</mat-label>
                        <input 
                        type="text" 
                        matInput
                        value="สาขาวิทยาการคอมพิวเตอร์"
                        >
                    </mat-form-field>
                </mat-card-content>
            </div>
            
            <div class="col-sm-6">
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>วันที่ได้รับ</mat-label>
                        <input 
                            type="text" 
                            matInput
                            value="09/09/09"
                        >
                    </mat-form-field>
                </mat-card-content>
            </div>
        </div>

        <mat-card-content>
            <img src="https://sites.google.com/site/softwarecomputerm6225582015/_/rsrc/1468868655453/mikhor-khxmphiwtexr-microcomputer-hrux-phisi-personal-computer-hrux-pc/PC_2010s.jpg" alt="">
        </mat-card-content>

        <mat-card-content style="text-align: center;">
            <button mat-raised-button color="accent" style="margin-bottom: 20px; margin-top: 20px;">
                <mat-icon>warning</mat-icon>
                Report
            </button>
        </mat-card-content>
    </mat-card>
</div>
